.js-payment-checkout {
  border: 1px solid #9c9c9c;
  width: 20em;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height:1;
  height:53px;
  padding: 8px;
  text-align: center;
  background: #0fbd71;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.ltp-button {
  border: 1px solid #9c9c9c;
  width: 20em;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height:1;
  height:53px;
  padding: 8px;
  text-align: center;
  background: #0fbd71;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.payment-checkout-modal {
  z-index: 2000;
}

.alert {
  padding: 20px;
  color: white;
  display: flex;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert-success {
  background: #0fbd71;
  border-color: #0fbd71;
}

.alert-warning {
  background: #FA5858;
  border-color: #FA5858;
}

.hide {
  display: none!important;
}

.return-button {
  background-color: #0fbd71;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #0fbd71 none;
  text-transform: uppercase;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height:53px;
  line-height: 3;
  background: #0fbd71;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  border: 1px solid #9c9c9c;
  font-size: 14px;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #0fbd71;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #BD0F5B;
}
