.js-paymentez-checkout {
  border: 1px solid #9c9c9c;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height:1;
  height:53px;
  padding: 8px;
  text-align: center;
  background: #0fbd71;
  color: #FFF;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.paymentez-checkout-modal {
  z-index: 2000;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
  border-radius: 0;
  border: 5px solid;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
  color: #FFF;
  font-weight: 300;
}

.alert-success {
  background: #0fbd71;
  border-color: #0fbd71;
  color: #666666 !important;
}

.alert-warning {
  background: #F5A9A9;
  border-color: #FA5858;
  color: #666666 !important;
}

.alert-pending {
  background: #f1f5a9;
  border-color: #f5f93f;
  color: #666666 !important;
}

.hide {
  display: none!important;
}

.btn-tienda {
  background-color: #0fbd71;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
}
